<!DOCTYPE html>
<head>
	<title>Stava Clone</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuNatXRXqzEBCeX3PT3D9D-OoRFbShrOw&callback=initMap"
    async defer></script>
	<script src="https://code.angularjs.org/1.4.5/angular-route.js"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="javascripts/app.js"></script>
	<script src="javascripts/ng-map.min.js"></script>
	<link rel="stylesheet" href="stylesheets/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div ng-app="myapp" ng-controller="myCtrl">

	<div id="container">
		<div ng-init="init('<%= token %>', '<%= user.id %>')"></div>
		<div id="header" class="row">
			<div id="headerLeft" class="col-md-6">
				<div>
					<h1 style="margin: 10px;">
						<img src={{data[0].athlete.profile_medium}} alt="" height="42" width="42">
						{{data[0].athlete.firstname}}
						{{data[0].athlete.lastname}}
					</h1>
				</div>
				<div>
					<b>{{data[0].athlete.city}}</b>
					<b>{{data[0].athlete.state}}</b>
					<b>{{data[0].athlete.country}}</b>
				</div>	
			</div>
			<div id="headerRight" class="col-md-6">
				<a href="/logout" class="btn btn-info" role="button" style="float: right">Logout</a>
				<div>
					<b>Followers:{{data[0].athlete.follower_count}}</b>
					<b>Friends:{{data[0].athlete.friend_count}}</b>
				</div>
				<div>
					<b>FTP:{{data[0].athlete.ftp}}</b>
					<b>Weight:{{data[0].athlete.weight}}</b>					
				</div>
			</div>
		</div>
	
		<div id="main" class="row">	
					
			<div id="mainLeft" class="col-xs-12 col-sm-12 col-md-8">
				<h2>Activities</h2>
				<div >
					<table class="table table-striped" style="height: 100%" class="fixed_headers">
						<thead>
							<tr >
								<th><b>Date</b></td>
								<td><b>Distance</b></td>
								<td><b>Elevation</b></td>
								<td><b>Kudos</b></td>
								<td><b>Achievements</b></td>
								<td><b>Avg. speed</b></td>
							</tr>	
						</thead>
						<tbody  class="row">		
							<tr id="activity" ng-repeat-start="activity in data[1].activity" ng-click="selActivity(activity)" ng-hide="isSelected(!activity)" >
								<td>{{activity.start_date | date}} - {{timeFormat(activity.moving_time)}}</td>
								<td>{{activity.distance/1000 | number:1}}km</td>
								<td>{{activity.total_elevation_gain}}m</td>
								<td>{{activity.kudos_count}}</td>
								<td>{{activity.achievement_count}}</td>
								<td>{{activity.average_speed/1000*3600 | number:1}}kmh</td>
							</tr>
						
							<tr ng-repeat-end ng-if="isSelected(activity)">
								<td class="col-sm-12 col-md-6">
									{{activity.name}} 
									<ng-map id="map" zoom="12" center="{{activity.start_latlng[0]}}, {{activity.start_latlng[1]}}" map-type-id="TERRAIN">
										<shape name="polyline" 
											path={{polypath(activity.map.summary_polyline)}}
											stroke-color="#FF0000"
											stroke-opacity="1.0"
											stroke-weight="2"
											bounds="map.bounds">
										</shape>
									</ng-map>
								</td>
																				
								<td colspan="5" style="vertical-align:top" class="col-sm-12 col-md-6">
									<table class = "table table-striped">
										<tr>
											<td><b>Avg. HR</b> {{activity.average_heartrate}}bpm</td>
											<td><b>Max. HR</b> {{activity.max_heartrate}}bpm</td>
										</tr>
										<tr>
											<td><b>Avg. Cadence</b> {{activity.average_cadence}}rpm</td> 			    						 
											<td><b>Avg. Power</b> {{activity.average_watts}}w</td> 
										</tr>
										<tr>
											<td><b>Max. Speed</b> {{activity.max_speed * 3.6 | number:1}}kmh</td> 
										</tr>
									</table>
									<br>
									<table class = "table table-striped">
										<tr>
											<td>
												<b>Suffer score</b> {{activity.suffer_score}}
											</td>
											<td>
												<b>kJ</b> {{activity.kilojoules}}
											</td>
										</tr>
										<tr>
											<td>
												<b>Pr's</b> {{activity.pr_count}}
											</td>
											<td>
												<b>Comments</b> {{activity.comment_count}}
											</td>
										</tr>
										<tr>
											<td>
												<b>Eleveation gain</b> {{activity.total_elevation_gain}} m
											</td>
											<td>
												<b>Elevation High</b> {{activity.elev_high}}
											</td>
										</tr>

									</table>
										
								</td>
							</tr>	
						</body>	
					</table>
				</div>	    				   
			</div>

			<div id="mainRight" class="col-xs-12 col-sm-12 col-md-4" >
				<h2>Totals</h2>
				<div class="row" >
					<table class="table table-striped" style="float: left; width: 40%; margin-left: 5px" class="col-sm-6 col-md-6">
						<tr>
							<td><b>This year</b></td>
						</tr>
						<tr>
							<td>Rides</td><td>{{data[2].stats.ytd_ride_totals.count}}</td>
						</tr>
						<tr>
							<td>Distance</td><td>{{data[2].stats.ytd_ride_totals.distance/1000 | number:1}}km</td>
						</tr>
						<tr>
							<td>HH:MM:SS</td><td>{{timeFormat(data[2].stats.ytd_ride_totals.moving_time)}}</td>
						</tr>
						<tr>
							<td>Elevation</td><td>{{data[2].stats.ytd_ride_totals.elevation_gain}}m</td>
						</tr>				
					</table>
					<table class="table table-striped" style="float: left; width: 40%; margin-left: 5px" class="col-sm-6 col-md-6">
						<tr>
							<td><b>Last 4 weeks</b></td>
						</tr>
						<tr>
							<td>Rides</td><td>{{data[2].stats.recent_ride_totals.count}}</td>
						</tr>
						<tr>
							<td>Distance</td><td>{{data[2].stats.recent_ride_totals.distance/1000 | number:1}}km</td>
						</tr>
						<tr>
							<td>HH:MM:SS</td><td>{{timeFormat(data[2].stats.recent_ride_totals.moving_time)}}</td>
						</tr>
						<tr>
							<td>Elevation</td><td>{{data[2].stats.recent_ride_totals.elevation_gain}}m</td>
						</tr>					
					</table>
				</div>
			

				<div class="row" >
					<table class="table table-striped" style="float: left; width: 40%; margin-left: 5px" class="col-sm-6 col-md-6">
						<tr>
							<td><b>All time</b></td>
						</tr>
						<tr>
							<td>Rides</td><td>{{data[2].stats.all_ride_totals.count}}</td>
						</tr>
						<tr>
							<td>Distance</td><td>{{data[2].stats.all_ride_totals.distance/1000 | number:1}}km</td>
						</tr>
						<tr>
							<td>HH:MM:SS</td><td>{{timeFormat(data[2].stats.all_ride_totals.moving_time)}}</td>
						</tr>
						<tr>
							<td>Elevation</td><td>{{data[2].stats.all_ride_totals.elevation_gain}}m</td>
						</tr>				
					</table>
				
					<table class="table table-striped" style="float: left; width: 40%; margin-left: 5px">
						<tr>
							<td><b>Bikes</b></td>
						</tr>
						<tr ng-repeat="bike in data[0].athlete.bikes">
							<td>{{bike.name}}</td>
							<td>{{bike.distance/1000 | number:1}}km</td>
						</tr>
					</table>				
				</div>

				<div style="clear: both" class="col-xs-12">
					
					<h2>Clubs</h2>
					<div ng-repeat="club in data[0].athlete.clubs">			
						<ul id="clubs">
							<li><img src={{club.profile_medium}} alt="" height="60" width="60">{{club.name}}</li>
						</ul>				
					</div>
				</div>
			</div>
		</div>				
	</div>
</div>
</body>

</html>
