<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/css/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets//styles.css">
    </head>
    <body>
        <div id="loginContainer" class="text-center">
            <h1>Welcome to Strava Clone</h1>
            <h2>View your Strava activities differently</h2>
            <a href="/auth/strava" class="btn btn-warning btn-lg" role="button">Login with Strava</a>
        </div>
    </body>
</html>