p{display: inline; padding-right: 10px; font-size: 14px}

h1{font-family: sans-serif}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#loginContainer{ 
    margin: auto;
    width: 60%;
    padding: 10px;
}
#map { 
    margin: 10px 0;
    width: 100%;
}
#mainTable{
    height: 500px; 
    overflow: auto;
}
.table>thead>tr>th{
    border-bottom: 1px solid #ddd;
}
.table th, td {
    border: 1px solid #ddd;       
}

.table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
.table tr:nth-child(even) {
    background-color: #ffffff;
}

#activity{cursor: pointer;}

#headerLeft{  
    height: 100px;
    border-bottom: 1px solid #ddd; 
    border-right: 1px solid #ddd;  
}
#headerRight{
    height: 100px;  
    border-bottom: 1px solid #ddd;   
}
#mainLeft{ 
    border-right: 1px solid #ddd;

}
#mainRight{ 
    margin: 0; 
 }
ul.clubs {
    margin-left: 0px;
    padding: 0;
    overflow: hidden;
    width: 100%;
    float: left;
}

li {
    list-style-type: disc;
    margin-left: -40px;
    margin-right: 45px;
    overflow: hidden;
    width: 70px;
    float: left;
    
}



